@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:wght@400;700&family=Playfair+Display:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato',sans-serif;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider{
    background-image: url('img/background.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);    background-repeat: none;
    background-size: cover;
    background-position: center;
}


.sliderWrapper{
    display: flex;
    width: 500vw;
}

.sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderTitle{
    position: absolute;
    color: white;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderImg{
    z-index: 1;
}
.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    
}

.sliderPrice{
    position: absolute;
    color: white;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid grey;
    z-index: 1;
}


.buyButton{
    position: absolute;
    color: white;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    border: 1px solid grey;
    z-index: 1;
    cursor: pointer;
    background-color: black;
    transition: 0.3s;
}

.buyButton:hover{
    background-color: white;
    color: black;
}
